= div_for @word do
  = render "words/form", word: @word

  .well.letters
    %h2= @word.letters

  .well.syllables-placeholder{data: { url: word_syllables_path(@word) } }
    %h2 _____  ______

  .well.say-word{data: { word: @word.letters } }
    %a
      %h2
        %span.glyphicon.glyphicon-volume-up
    .say-word-disabled-message
      %p Sorry :(
      %p Your browser can't talk.

  .row
    - [@word.frequency - 1, @word.frequency + 1].each_with_index do |frequency, i|
      .col-xs-6
        .well
          %h3
            = link_to word_path(id: frequency) do
              %span.glyphicon{class: "glyphicon-" + (i == 0 ? "backward" : "forward")}

  .row.random-word-links
    .col-xs-4
      .well
        %h2= link_to "common", common_word_path
    .col-xs-4
      .well
        %h2= link_to "random", random_word_path
    .col-xs-4
      .well
        %h2= link_to "uncommon", uncommon_word_path
