!!!
%html
  %head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
  %title Reading Tutor
  = stylesheet_link_tag :application, :media => "all", "data-turbolinks-track" => true
  = javascript_include_tag :application, "data-turbolinks-track" => true
  = csrf_meta_tags

  %body
    %header.navbar.navbar-default
      .container
        .navbar-header
          = link_to "Reading Tutor", root_path, class: "navbar-brand"
        %nav.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a Helping you learn to read.
    .container
      .row
        .col-md-12
          = yield
      .row{style: "margin-top: 10px;"}
        .col-lg-12
          Made by
          = link_to "@barelyknown", "http://twitter.com/barelyknown"
          for my kids.
          Open sourced on
          = "#{link_to("github.com", "http://github.com/barelyknown/reading_tutor")}.".html_safe
          Data from
          = "#{link_to("wordnik.com", "http://www.wordnik.com")}.".html_safe